.Ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkgoldenrod;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    margin-top: 2vh;
    overflow-x: hidden;
}

.Ingredient__name {
    text-align: center;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
}

.Ingredient__value {
    color: white;
    margin-top: 1vh;
    max-width: 40%;
    background-color: darkgoldenrod;
    text-align: center;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}