.Product {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 5% 2%
}

@media (orientation: landscape){
    .Product {
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;


    }
}