@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../public/background-image-ice-cream.jpg");
  background-repeat: no-repeat;
  background-size: cover;
background-position: center;
}

